/* usar el atributo de "data-="" " asi podemos nombrar las cosas que queremos mantener guardadas.

ex: data-is="1" 

como no podemos storage fotos usamos path

data-img="el link de la imagen"

en el archivo de java:
let favoriteicons= document.getElementByClassName[nameoftheclass]

console.log(favoriteicons)--> para corroborar que tenemos acceso. (hacer esto cada que sea necesario)

hacer un loop:
for(let i=0; i<favoriteIcons.length; i++){
favoriteIcons[i].addEventListener("click", savefavorite);--> cada ve que clickiemos lel icono vamos a llamar esa funcion)

crear 
funcion savefavorite(){
let favorite={
id: this.dataset.id, 
img: this.dataset.img,
};

hacer un array fuera del loop (arriba de for, abajo del primer let) let favoriteArr=[];


favoriteArr.push(favorite);

localStorage.favorites= JSON.stringfy(favoriteArr)


let favoriteArr;

if(localStorage.favorite){
favoriteArr=JSON.parse(localStorage.favorites);
} else{
 favoriteArr=[]
}

-->parse: toma el string y lo vuelve a convertir en array.


cambiar el color del icono cuando clickeamos:

if (this.src.includes("outline")){
this.src= "img/heart-solid.png"
}else{
this.src= "img/heart-outline.png"
}


mantener el corazon marcado

for (let i=0; i<favoriteIcons.length; i++){
fo r(let j=0; j<favoriteArr.length; j++){
if (favoriteIcons[i].dataset.id === favoriteArr[j].id){
favoriteIcons[i].src= "img/heart-solid.png"
}
}
*/

/*
crear favorite page

crear un nuevo js 

const favGrid = document.querySelector(".fav-grid");

let favoriteArr = JSON.parse(localStorage.favorites);

for(let i=0; i< favoriteArr.length; i++){
let favoriteElement = docuent.createElement("img");
favoriteElement.src = favoriteArr[i].img;
favoriteElement.style.width=100%;
favGrid.appendChild(favoriteElement);
}

--> favoriteElement.classlist.add("---"): asi podemos hacer el styling en el css y java lo va a ir añadiendo.
*/