body{
    display: grid;
}
body{
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"
}
/*HEADER*/
header{
    grid-area: header;
    background-color:darkkhaki;
    flex-direction: column;
}

ul{
    grid-area: list;
    list-style: none;
    display:flex
}
 li{
    margin-left: 6rem;;
 }

/*body*/
body{
    grid-area: body;
}
/*footer*/
footer{
    grid-area: footer;
    background-color: darkorange;
    margin-top: 1 rem;
}


/* logo size*/
.logo{
    width:10%
}

/*images sizes*/
.poster{
    width: 25%
}
.photos{
    width: 70%
}
.print-front{
    width: 25%
}
.photo-front{
    width:25%
}

/*shopping cart icon*/
.bag-icon{
    width: 80%
}
