body {
  display: grid;
  margin: 0;
  grid-template-areas:
    "header header header"
    ". main . "
    "footer footer footer";
}

/* HEADER */
header {
  grid-area: header;
  background-color: white;
  flex-direction: column;
  position: sticky;
  top: 0;
}
ul {
  justify-content: center;
  gap: 80px;
  grid-area: list;
  list-style: none;
  display: flex;
  padding: 0%;
}
li {
  list-style: none;
}
.logo-position {
  display: flex;
  justify-self: center;
}
.roboto-shortcuts {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 20px;
}
/* logo size */
.logo {
  width: 20vw;
}

/* shopping bag icon */
.bag-icon {
  width: 90%;
  position: relative;
}

/* MAIN */
h1 {
  text-align: center;
}

.lexend-titles {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand-txt {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(62, 63, 63);
}


/* ---- INDEX PAGE---- */
.main-carrusel {
  justify-self: center;
  width: 50%;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}
.main-carrusel img {
  width: 40%;
  padding: 10px;
}

/*  reference for the scrolling gallery
https://www.w3schools.com/howto/howto_css_image_gallery_scroll.asp
*/

.carrusel {
  width: 80%;
}

ol {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

.show-contact {
  background: none;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(22, 24, 24);
}
.email {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  color: rgb(22, 24, 24);
}
/* ---- ALL PRODUCTS PAGE ---- */
.collection {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.poster {
  width: 60%;
}

/* --- EACH PRODUCT PAGE --- */

.price-page {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}
.price-info {
  display: flexbox;
}

.shopping-buttons {
  display: flex;
  width: 100%;
}

input {
  width: 20%;
}

.content-position {
  grid-area: main;
  justify-content: center;
}

.quicksand-txt-price {
  font-family: "Quicksand", sans-serif;
  font-size: xx-large;
  font-weight: 300;
  font-style: normal;
  color: olive;
  text-align: center;
}

.quicksand-txt-info {
  font-family: "Quicksand", sans-serif;
  font-size: large;
  font-weight: 300;
  font-style: normal;
  color: rgb(22, 24, 24);
  text-align: left;
}

.product1 {
  width: 30%;
}

/* --- SHOPPING CART PAGE --- */
.shop-info {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;
    font-family: "Quicksand", sans-serif;
  font-size:large;
  font-weight: 300;
  font-style: normal;
  color: rgb(22, 24, 24);
  text-align: center;

}
.shopping-products {
  display: grid;
  grid-template-columns: 1px 120px 120px 120px 120px;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Quicksand", sans-serif;
  font-size: larger;
  font-weight: 300;
  font-style: normal;
  color: rgb(22, 24, 24);
  text-align: center;
}
.final-price {
  display: flex;
  justify-content: center;
  gap: 30px;  
  align-items: center;
}

.total-price{
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: large;
  font-weight: 300;
  font-style: normal;
  color: rgb(18, 18, 18);
}

h4{
  display: grid;
  grid-column: 3 / 5 ;
  justify-content: center;
  font-size: larger;
}

/* added to cart message */
.added-message{
  height: 80px;
  width: 100px;
  margin-left: 150px;
  border-radius: 50%;
}
h6{
  display: grid;
  grid-column: 4 / 5 ;
  justify-content: center;
  font-size: large;
  background-color: rgb(220, 110, 110); 
  color: rgb(224, 212, 212);
  border-radius: 10%;

  font-family: "Quicksand", sans-serif;
  font-size: medium;
  font-weight: 600;
  font-style: normal;
  color: rgb(217, 169, 169);
  text-align: center

  }

#check-out{
  display: flex;
  justify-content: center;
  margin-left: 25rem;
  border-radius: 5%;
  font-size: larger;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: large;
  font-weight: 600;
  font-style: normal;
  color: rgb(205, 130, 10);
  border: none;
  background-color: rgb(192, 168, 131);
}

button{
  font-size: medium;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: large;
  font-weight: 300;
  font-style: normal;
  color: rgb(18, 18, 18);
}
/* FOOTER */
footer {
  grid-area: footer;
  background-color: white;
  margin-top: 10rem;
}
small {
  display: flex;
  justify-content: center;
}

.bag-has-products{
font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size:small;
  
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  margin-left: 2%;
  z-index: 99;
}


/* RESPONSIVE */

.mobile-navigation {
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  /* HEADER FOR DIFFERENT SCREEN'S SIZE */
  .mobile-navigation {
    display: flex;
    justify-content: first baseline;
    margin: 0;
    padding: 0;
    gap: 0;
  }

  .hamburger-menu {
    width: 40%;
  }
  .menu-icon {
    width: 50%;
    justify-self: left;
  }
  .bag-icon {
    display: flex;
    justify-self: right;
    width: 100%;
  }
  .logo-plus-bagIcon {
    display: flex;
    gap: 5rem;
  }

  ul {
    text-align: left;
    justify-content: center;
    gap: 5px;
    list-style: none;
    display: none;
    flex-direction: column;
    padding: 0%;
    margin-left: 15%;
  }

  .roboto-shortcuts{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size:small;
  }

  .laptop-navigation {
    display: none;
  }

  /* INDEX */

  .main-carrusel {
    justify-self: center;
    width: 70%;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  .main-carrusel img {
    width: 100%;
    padding: 10px;
  }

  /* PRODUCTS AND SHOPPING PAGES */

  .collection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: main;
    gap: 5px;
  }
  .poster {
    display: flex;
    justify-content: center;
    width: 110%;
  }

  .price-page {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*gap: 5rem;*/
    width: 50%;
    margin-left: 20%;
  }

  .product1 {
    width: 100%;
  }

  .price-info .lexend-titles {
    font-size: large;
  }
  .price-info .quicksand-txt-price {
    font-size: larger;
  }
  .price-info .quicksand-txt-info {
    font-size: smaller;
  }
  .shopping-buttons {
    width: 200%;
  }


  /* CART PAGE*/
  .shopping-products {
  display: grid;
  grid-template-columns: 30px 60px 100px 50px 60px;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Quicksand", sans-serif;
  font-size: large;
  font-weight: 300;
  font-style: normal;
  color: rgb(22, 24, 24);
  text-align: center;
}

  #check-out{
  display: flex;
  justify-content: center;
  margin-left: 5rem;
  border-radius: 5%;
  font-size: larger;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: large;
  font-weight: 600;
  font-style: normal;
  color: rgb(205, 130, 10);
  border: none;
  background-color: rgb(192, 168, 131);

}

@media screen and (min-width: 600px) and (max-width: 900px) {
  /* HEADER FOR DIFFERENT SCREEN'S SIZE */
  .mobile-navigation {
    display: flex;
    justify-content: first baseline;
    margin: 0;
    padding: 0;
    gap: 0;
  }

  .roboto-shortcuts{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size:medium;
  }

  .hamburger-menu {
    width: 40%;
  }
  .menu-icon {
    width: 50%;
    justify-self: left;
  }
  .bag-icon {
    display: flex;
    justify-self: end;
    width: 100%;
  }
  .logo-plus-bagIcon {
    display: flex;
    gap: 10rem;
  }

  ul {
    text-align: left;
    justify-content: center;
    gap: 5px;
    list-style: none;
    display: none;
    flex-direction: column;
    padding: 0%;
    margin-left: 15%;
  }

  .laptop-navigation {
    display: none;
  }

  /* INDEX */

  .main-carrusel {
    justify-self: center;
    width: 90%;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  .main-carrusel img {
    width: 100%;
    padding: 10px;
  }

  /* PRODUCTS AND SHOPPING PAGES */

  .collection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: main;
    gap: 5px;
  }
  .poster {
    display: flex;
    justify-content: center;
    width: 110%;
  }

  .price-page {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*gap: 5rem;*/
    width: 50%;
    margin-left: 20%;
  }

  .product1 {
    width: 100%;
  }

  .price-info .lexend-titles {
    font-size: 30px;
  }
  .price-info .quicksand-txt-price {
    font-size: larger;
  }
  .price-info .quicksand-txt-info {
    font-size: smaller;
  }

  /* CART PAGE */
   .shopping-products {
  display: grid;
  grid-template-columns: 30px 60px 100px 50px 60px;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Quicksand", sans-serif;
  font-size: large;
  font-weight: 300;
  font-style: normal;
  color: rgb(22, 24, 24);
  text-align: center;
   }

  #check-out{
  display: flex;
  justify-content: center;
  margin-left: 5rem;
  border-radius: 5%;
  font-size: larger;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: large;
  font-weight: 600;
  font-style: normal;
  color: rgb(205, 130, 10);
  border: none;
  background-color: rgb(192, 168, 131);
}
   }
  }