body {
  display: grid;
  margin: 0;
  /*grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;*/
  grid-template-areas:
    "header header header"
    ". main . "
    "footer footer footer";
}

/* HEADER */

header {
  grid-area: header;
  background-color: white;
  flex-direction: column;
  position: sticky;
  top: 0;
}

ul {
  justify-content: center;
  gap: 80px;
  grid-area: list;
  list-style: none;
  display: flex;
  padding: 0%;
}
li {
  /*margin-right: 1rem;*/
  list-style: none;
}

.logo-position {
  display: flex;
  justify-self: center;
}

.roboto-shortcuts {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 20px;
}
/* BODY */

body {
  /* grid-area: main;*/
  background-color: rgb(235, 232, 164);
}
section {
  display: flex;
}

.post-1 {
  width: 25%;
}
h1 {
  text-align: center;
}

.lexend-titles {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*index*/
.main-carrusel {
  display: flex;
  justify-self: center;
}

.carrusel {
  width: 80%;
  gap: 0;
}

ol {
  display: flex;
  justify-content: space-between;
}

/*product pages*/
.price-page {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}
.price-info {
  display: flexbox;
}

/*contact page*/
.form {
  display: flexbox;
  text-align: center;
}
.content-position {
  grid-area: main;
  justify-content: center;
}

.button {
  display: flex;
  justify-self: center;
  margin-top: 5px;
}
/* all products page*/
.collection {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

/* shopping cart page */
.shop-info {
  display: flex;
  justify-content: space-evenly;
}

.form {
  justify-content: center;
}

.quicksand-txt {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(22, 24, 24);
}

/* FOOTER */
footer {
  grid-area: footer;
  background-color: white;
  margin-top: 10rem;
}
small {
  display: flex;
  justify-content: center;
}

/* logo size*/
.logo {
  width: 20vw;
}

/* IMAGES SIZES */
.poster {
  width: 60%;
}

.product1 {
  width: 30%;
}

/*shopping cart icon*/
.bag-icon {
  width: 70%;
}

/* responsive */
.mobile-navigation {
  display: none;
}
@media screen and (min-width: 400px) and (max-width: 900px) {
  .collection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: main;
    gap: 5px;
  }
  .poster {
    display: flex;
    justify-content: center;
    width: 110%;
  }
  .product1 {
    width: 70%;
    margin-left: 5rem;
  }
  .mobile-navigation {
    display: flex;
    justify-content: space-evenly;
  }

  .hamburger-menu {
    width: 10rem;
  }
  .menu-icon {
    width: 50%;
    justify-self: right;
    margin: 0;
    padding: 0;
  }
  .bag-icon {
    width: 90%;
  }

  ul {
    justify-content: center;
    gap: 8px;
    grid-area: list;
    list-style: none;
    display: none;
    flex-direction: column;
    padding: 0%;
  }
  .laptop-navigation {
    display: none;
  }

  /* .quicksand-txt{
      display: flex;
     justify-self: center;
  }*/
}
